.userNameEnterDiv {
  margin-top: 20vh;
  /* height: 50vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meetVideoContainer {
  position: relative;
  height: 100vh;
  background: rgb(1, 4, 48);
}

.meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 20vh;
  width: auto;
  left: 20;
  border-radius: 20px;
}

.buttonContainers {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

.buttonContainers svg {
  font-size: 3rem;
}

.conferenceView {
  display: flex;

  padding: 10px;
  gap: 10px;
}

.conferenceView video {
  width: 20vw;
  /* height: 20vh; */
  min-width: 20vw;
  border-radius: 10px;
}

.chatRoom {
  position: absolute;
  height: 90vh;
  right: 0;
  background: white;
  border-radius: 10px;
  width: 30vw;
  padding-inline: 20px;
}

.chatContainer {
  position: relative;
  height: 100%;
}

.chattingArea {
  position: absolute;
  bottom: 0;
}
.videoDiv {
  position: relative;
}
.video3dot {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  z-index: 1;
}
.videoManuDiv {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #3c3c3c;

  display: flex;
  flex-direction: column;

  border-radius: 5px;
  color: white;
  z-index: 1;
}
.videoManuDiv p {
  padding: 7px;
}
.videoManuDiv p:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: #333333;
}
.videoWrapper {
  border: 1px solid white;
  /* height: 20vh; */
  width: 20vw;
  aspect-ratio: 4 / 3;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoUserName {
  width: 100%;
  color: white;
  text-align: center;
}

.audioMuteHost {
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 1;
}
.audioMute {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  z-index: 1;
}
